## Generate a random Excel file

In [ ]:
import numpy as np
import pandas as pd

np.random.seed(42)
random_data = np.random.randint(0, 100, size=(10000, 10))

df = pd.DataFrame(random_data, columns=[f'Column_{i+1}' for i in range(10)])
df.head()

,Column_1,Column_2,Column_3,Column_4,Column_5,Column_6,Column_7,Column_8,Column_9,Column_10
0,51,92,14,71,60,20,82,86,74,74
1,87,99,23,2,21,52,1,87,29,37
2,1,63,59,20,32,75,57,21,88,48
3,90,58,41,91,59,79,14,61,61,46
4,61,50,54,63,2,50,6,20,72,38

In [4]:
output_path = 'data.xlsx'
df.to_excel(output_path, index=False)